global:
  domain:

spring:
  application:
    name: EducationalPlatform

  jpa:
    open-in-view: false

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

    jpa:
      open-in-view: false
      show-sql: true
      properties:
        hibernate:
          format_sql: true
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: validate

    flyway:
      enabled: true
      baseline-on-migrate: true
      clean-on-validation-error: true
      validate-on-migrate: true

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      enabled: true

management:
  endpoints:
    web:
      base-path: /api/actuator
      exposure:
        include: "*"
        exclude: shutdown

jwt:
  name: jwt_token
  secret: 53A73E5F1C4E0A2D3B5F2D784E6A1B423D6F247D1F6E5C3A596D635A75327855
  expiration: 3600000

logging:
  level:
    org.springframework.web.reactive.function.client.ExchangeFunctions: TRACE
    org.springframework.web.reactive.function.client.ExchangeFilterFunctions: TRACE
    com.educationalplatform.service.AuthService: DEBUG

vk:
  app-id: 54299133
  secret: pJcJlRld2MwdAFpOGv5b
  redirect-uri: https://localhost/api/auth/vkCallback
  redirect-uri-after: https://localhost/

springdoc:
  api-docs:
    path: /api/api-docs
  swagger-ui:
    path: /api/swagger-ui.html

minio:
  endpoint: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin123
  bucket-name: minioadmin

server:
  port: 80